main {
    width: 100%;
    height: 85%;
    display: flex;
}

.main-wrapper {
    width: 88%;
    padding: 25px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside {
    background: black;
    width: 12%;
    border: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside img {
    width: 64px;
}

.main-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-title h1 {
    display: flex;
    gap: 20px;
}

.stats-wrapper {
    display: flex;
}

.other-charts-container {
    display: flex;
}

.barchart-tooltip {
    width: 39px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #E60000;
    color: white;
    font-size: 7px;
    font-weight: 500;
}

.legend-wrapper {
    display: flex;
    justify-content: space-between;
}

.barchart-legend {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin: unset;
    padding: unset;
}

#bar-chart {
    background: #FBFBFB;
}

#line-chart {
    background: #FF0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.linechart-tooltip {
    width: 39px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    font-size: 7px;
}

#radar-chart {
    background: #282D30;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}