main {
    width: 100%;
    height: 85%;
    display: flex;
}

.main-wrapper {
    width: 88%;
    padding: 25px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside {
    background: black;
    width: 12%;
    border: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

aside img {
    width: 64px;
}

.main-title {
    display: flex;
    flex-direction: column;
    height: 15%;
    justify-content: space-between;
}

.main-title h1 {
    display: flex;
    gap: 20px;
}

.charts-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats-wrapper {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.other-charts-container {
    display: flex;
    justify-content: space-between;
    height: 50%;
}


.barchart-tooltip {
    width: 39px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #E60000;
    color: white;
    font-size: 7px;
    font-weight: 500;
    margin-top: -60px;
   
}

.legend-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 600;
    opacity: 0.6;
}

.legend-wrapper li:nth-child(even)::marker {
    color: red;
}

.barchart-legend {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin: unset;
    padding: unset;
}

#bar-chart {
    background: #FBFBFB;
}

#line-chart {
    background: #FF0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.linechart-tooltip {
    width: 39px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    font-size: 7px;
}

#radar-chart {
    background: #282D30;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.synthesis-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recharts-polar-angle-axis-tick-value {
    transform: translateX(-3px);
}

.icon-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copiryght {
    color: white;
    transform: rotate(-90deg);
    font-size: 12px;
    
}

